{
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": 0,
    // Allow stuff like for of
    "no-restricted-syntax": 0,

    // Allow overwriting of stuff like:
    // res.body.a = 'asdsasad';
    "no-param-reassign": ["error", { "props": false }],

    // Allow _id
    "no-underscore-dangle": ["error", { "allow": ["_id", "__v"] }],

    // Allows functions to be used before they're defined
    // Functions are always hoisted so this is fine
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
